
<div class="table-responsive container " >
  <table class="table table-bordered" *ngIf="employees && employees.length">
    <thead>
    <tr class="bg-primary">
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Contact Preference</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.contactPreference }}</td>
      <td class="btn-toolbar" role="group">
        <button class="btn btn-primary" (click)="editButton(employee.id)" title="Edit View">Edit</button>
        <button class="btn btn-primary" (click)="viewButton(employee.id)"  >View</button>
        <button class="btn btn-danger" title="Delete Skill" (click)="deleteEmploy(employee.id)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
