<div *ngIf="auth.user | async;  else guest">

</div>
<ng-template #guest>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                        <div class="card-img-left d-none d-md-flex">
                                <!-- Background image for card set in CSS! -->
                        </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <div class="alert alert-primary" role="alert" *ngIf="errors">
                                {{ errors}}
                        </div>
                        <form class="form-signin" [formGroup]="signIn">
                            
                            <label for="inputEmail">Email address</label>
                            <div class="form-group" [ngClass]="{'has-error' : formErrors.email }">
                                <input type="email" id="inputEmail" class="form-control" formControlName="email"
                                    placeholder="Email address" (blur)="ShowErrors()">
                                <span class="form-text   alert-danger" *ngIf="formErrors.email">
                                    {{formErrors.email }}
                                </span>
                            </div>
                            
                            <label for="inputPassword">Password</label>
                            <div class="form-group" [ngClass]="{'has-error' : formErrors.password }">
                                <input type="password" id="inputPassword" formControlName="password"
                                    class="form-control" (blur)="ShowErrors()">
                                <span class="form-text   alert-danger" *ngIf="formErrors.password">
                                    {{formErrors.password }}
                                </span>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                [disabled]="!signIn.valid  || !signIn.touched ||  message " (click)="onSubmit()"
                                type="submit">Sign
                                in <img src="../../assets/loading.gif" *ngIf="message" alt=""
                                    style="width: 20px;">
                            </button>
                            <button class="btn btn-lg btn-dark btn-block text-uppercase" (click)="register()"
                                type="submit">Register
                            </button>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"
                                (click)="auth.googleLogin()"><i class="fab fa-google mr-2"></i> Sign in with
                                Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"
                                (click)="auth.facebookLogin()"><i class="fab fa-facebook-f mr-2"></i> Sign in with
                                Facebook</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
